<!-- your html code here -->
<div class="container mt-5">
    <h2 class="text-center fw-bold mb-3">Propiedades destacadas</h2>
    <p class="text-center text-muted mb-5">Descubre nuestras mejores propiedades disponibles</p>

    <div class="row mt-4">
        <!-- T1 -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://plus.unsplash.com/premium_photo-1687960116506-f31f84371838?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2FzYSUyMGNvbiUyMHBpc2NpbmF8ZW58MHx8MHx8fDA%3D" class="card-img-top rounded-top" alt="Casa de lujo con piscina" style="height: 200px; object-fit: cover; width: 100%; display: block;">

        <div class="card-body text-center">
          <h5 class="card-title">Casa la Moraleja</h5>
          <p class="fw-bold fs-4 text-dark mb-1">€1.000.000</p> 
          <p class="text-muted">- 5 habitaciones</p>
          <a href="#" class="btn btn-outline-dark w-100">Ver propiedad</a>
        </div>
      </div>
    </div>
    <!-- T2 -->
    <div class="col-md-4 mb-4">
      <div class="card">

        <img src="https://images.unsplash.com/photo-1512916194211-3f2b7f5f7de3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cGlzb3MlMjBkZSUyMGx1am98ZW58MHx8MHx8fDA%3D" class="card-img-top rounded-top" alt="cocina elegante" style="height: 200px; object-fit: cover; width: 100%; display: block;">

        <div class="card-body text-center">
          <h5 class="card-title">Piso moderno en Serrano</h5>
          <p class="fw-bold fs-4 text-dark mb-1">€600.000</p>
          <p class="text-muted">- 2 habitaciones</p>
          <a href="#" class="btn btn-dark w-100">Ver propiedad</a>
        </div>
      </div>
    </div>
    <!-- T3 -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1738168279272-c08d6dd22002?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBpc29zJTIwZGUlMjBsdWpvfGVufDB8fDB8fHww" class="card-img-top rounded-top" alt="salon con sofá" style="height: 200px; object-fit: cover; ">

        <div class="card-body text-center">
          <h5 class="card-title">Piso Chamberi</h5>
          <p class="fw-bold fs-4 text-dark mb-1">€750.000</p> 
          <p class="text-muted">- 3 habitaciones</p>
          <a href="#" class="btn btn-dark w-100">Ver propiedad</a>
        </div>
      </div>
    </div>

    </div>
</div>